<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"></head>
<body>
<div th:fragment="login" class="login_container">
    <h1>Login</h1>
	<div th:if="${param.error}" class="form-alert form-error">Invalid username and password.</div>
	<div th:if="${param.logout}" class="form-alert form-info">You have been logged out.</div>
	<div class="card-block" style="padding: 24px;">
	<form th:action="@{login}" method="post">
		<div class="form-group">
			<label for="username"><span class=""></span>Username:</label>
			<input class="form-control" id="username" type="text" name="username" />
		</div>
		<div class="form-group">
			<label class="password">Password:</label>
			<input class="form-control" id="password" type="password" name="password" />
		</div>
		<div class="form-check">
			<input class="form-check-input" id="remember-me" type="checkbox" name="remember-me" />
			<label class="form-check-label" for="remember-me">Remember me:</label>
		</div>
		<div class="form-action" style="margin-top: 12px;">
			<button class="btn btn-success" type="submit">Log in</button>
		</div>
	</form>
	</div>
</div>  
</body>
</html>