<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8"/>
	<title></title>
</head>
<body>

<div th:fragment="editSoortenledenModal">
	<div class="modalAchtergrond hide" id="soortenledenModalAchtergrond">&nbsp;</div>
	<div class="modal off" id="soortenledenModal" role="dialog">
		<Form th:object="${Soortenleden}" id="editSoortenledenModalForm">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<div class="modal-dialog modal-lg" >
				<!-- Modal content-->
			<div class="modal-content">
				<div class="modalHeader">
					<h4 class="modalTitel"  id="modal-titel"></h4>
					<button type="button" class="closeBtnX" data-dismiss="modal">&times;</button>
				</div>
				<div id="form_body" class="modalBody">
					<div class="form-group">
						<label for="id" class="form-label col-1">Id:</label>
						<input type="text" class="form-control col-1"  id="id" name="id" value="" readonly />
					</div>
					<div class="form-group">
						<label for="soortenleden" class="form-label col-1">Soort:</label>
						<input type="text" class="form-control col-3" id="soortenleden" name="soortenleden" title="Soort invullen!" placeholder="Soort" required />
					</div>
				</div>
				<div id="form_body_error" class="modalBody">
						<p>Je kan <span id="form_body_error_naam">Naam!</span> niet verwijderen.</p>
						<p>Eerst moeten alle leden records worden verwjdert.</p>
					</div>
				<div class="modalFooter">
					<button type="submit" id="editSoortenleden_save" class="btn btn-primary">Save soort</button>
					<button type="button" id="sluiten" class="btn btn-default" data-dismiss="modal">Sluiten</button>
				</div>
			</div>
		</div>
	</Form>
</div>
</div>

</body>
</html>