@charset "ISO-8859-1";

.timeOutModalAchtergrond {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
	transition: opacity 250ms;
}

.timeOutModal {
	position: fixed;
    top: 20%;
    right: 30%;
    left: 30%;
    z-index: 2;
    background-color: #ffffff;
    padding: 2rem 2rem 3rem 2rem;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    border: 0.1rem solid rgba(0, 0, 0, .9);
    border-radius: 1.5rem;
    transition: transform 250ms;
}

.timeOutModalContent {
	display: flex;
	flex-direction: column;
}

.show {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.hide {
    width: 0;
    height: 0;
    opacity: 0;
}

.off {
    transform: translateY(-200%);
}

.on {
    transform: translateY(0);
}

.timeOutModalHeader h4 .timeOutModalFooter h4 {
	margin: 0;
	padding: 0;
}

.timeOutModalHeader {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem 1rem;
}

.timeOutModalBody {
	display: flex;
	flex-direction: column;
}

.timeOutModalFooter {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1em;
}

.timeOutModalTitel {
	margin-bottum: 0;
	line-height: 1.5;
	font-size: 30px;
	color: green;
}

.btn {
	padding: 10px 20px;
	margin: 1px 10px;
	border-radius: 5px;
	color: #222222;
}

.btn-primary {
	background-color: #007bff;
	border: 0.1rem solid #007bff;
}

.btn-default {
	background-color: #28a745;
	border: 0.1rem solid #28a745;
}

.timeOutCloseBtnX {
	color: #999999;
	float: right;
	font-size: 30px;
	border: 0;
	background-color: #ffffff;
}

.timeOutCloseBtn:hover, .timeOutCloseBtn:focus, .timeOutCloseBtnX:hover, .timeOutCloseBtnX:focus, .timeOutSubmitBtn:hover, .timeOutSubmitBtn:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}