@charset "ISO-8859-1";

.modalAchtergrond {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
}

.modal {
	position: fixed;
    top: 20%;
    right: 30%;
    left: 30%;
    z-index: 2;
    background-color: #ffffff;
    padding: 2rem 2rem 3rem 2rem;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    border: 0.1rem solid rgba(0, 0, 0, .9);
    border-radius: 1.5rem;
    transition: transform 250ms;
}

.modalContent {
	display: flex;
	flex-direction: column;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.off {
    transform: translateY(-200%);
}

.on {
    transform: translateY(0);
}

.modalHeader h4 .modalFooter h4 {
	margin: 0;
	padding: 0;
}

.modalHeader {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem 1rem;
}

.modalBody {
	display: flex;
	flex-direction: column;
}

.modalFooter {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1em;
}

.modalTitel {
	margin-bottum: 0;
	line-height: 1.5;
	font-size: 30px;
	color: green;
}

.closeBtnX {
	color: #999999;
	float: right;
	font-size: 30px;
	border: 0;
	background-color: #ffffff;
}

.timeOutCloseBtn:hover, .timeOutCloseBtn:focus, .closeBtnX:hover, .closeBtnX:focus, .timeOutSubmitBtn:hover, .timeOutSubmitBtn:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

label {
	display:inline-block
}

.col-1 {
	width: 10%;
}

.col-2 {
	width: 20%;
}

.col-3 {
	width: 30%;
}

.col-4 {
	width: 40%;
}

.col-5 {
	width: 50%;
}


