@charset "ISO-8859-1";
html{
	background-color:	#FFFFFF; 
	font-size:	12px;  
}

*, ::after, ::before {
    box-sizing: border-box;
    margin:		0px; 
	padding:	0px;
/* 	outline: 0.2px solid rgba(255, 0, 0, 0.2); */
}
	
body{
	font-family: "Segoe UI", sans-serif ;
	background:	#FFFFFF; 
	line-height: 1.5;
}

/* ---------------- START MAIN GRID ---------------- */

.grid_container{
	display:	grid;
	height:		100vh;
	width:		100vw;
	grid-template-columns:	300px auto;
	grid-template-rows: 	3rem auto 3rem;
	grid-template-areas:	"header header"
							"menu main"
							"footer footer";
}

.header {
	border: 0px solid black;
	grid-area: header;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	background-color: #eee;
	padding: 0 10px;
	
}

.menu {
	border: 0px solid black;
	grid-area: menu;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	background-color: #fff;
	margin: 0px;
	
	overflow: hidden;
}

.main {
	border: 0px solid black;
	grid-area: main;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	background-color: #fff;
	
	overflow: auto;
}

.footer {
	border: 0px solid black;
	grid-area: footer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #eee;
	margin: 0 5px;
}

.header_logo {
	border: 0px solid #ccc;
}

.header_menu {
	border: 0px solid #ccc;
	flex-grow: 1;
}

.menu_header {
	border: 0px solid #ccc;
	flex: 0 0 0rem;
	/*min-height: 3rem;*/
	padding: 5px;
}

.menu_main {
	border: 0px solid #ccc;
	flex: 1 1 auto;
	/*flex-grow: 1;*/
	overflow: auto;
}

.main_section_header {
	border: 0px solid #ccc;
	flex: 1 1 40%;
	padding: 1px;
	overflow: unset;
}

.main_section_main {
	border: 0px solid #ccc;
	padding: 1px;
	flex: 1 1 60%;
	overflow: auto;
}

.main_section_footer {
	border: 0px solid #ccc;
	padding: 10px;
	flex: 1 1 60%;
	overflow: hidden;
}

.footer_section_A {
	border: 0px solid #ccc;
	flex: 1 1 15%;
}

.footer_section_B {
	border: 0px solid #ccc;
	flex: 1 1 85%;
}

.website_laden {
	margin: 0;
	padding: 100px 0px 0px 300px;
	font-size: 40px;
	color: green;
}
/* ---------------- END MAIN GRID ---------------- */

/* ------------------------------------------------------------------------------- */

/* ---------------- START HEADER ---------------- */

.navigation {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navigation_list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.navigation_item {
	margin: 0 10px;
	font-size: 14px;
	font-weight: bold;	
}

.navigation_link, .navigation_link:link, .navigation_link:visited, .navigation_link:active{
	text-decoration: none;
	padding: 2px 10px;
	color: green;
}

.navigation_link:hover {
	text-decoration: none;
	background-color: #bbb;
	padding: 2px 10px;
	color: red;
}

.navigation_logo {
	padding: 0px 10px;
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}

/* ---------------- END HEADER ---------------- */

/* ------------------------------------------------------------------------------- */

/* ---------------- START MENU ---------------- */

.menu_select_soortleden {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	max-width: 20vw;
}

.menu_select_soortleden label {
	padding: 2px 15px;
	margin: 0;
	background-color: #ccc;
}

.menu_select_soortleden select {
	flex-grow: 0.8;
	padding: 2px 5px;
}

/* ---------------- END MENU ---------------- */

/* ------------------------------------------------------------------------------- */

/* ---------------- START MAIN ---------------- */

/* ---------------- END MAIN ---------------- */

/* ------------------------------------------------------------------------------- */

/* ---------------- START FOOTER ---------------- */

/* ---------------- END FOOTER ---------------- */

/* ---------------- START LOGIN ---------------- */

.login_container {
	margin-top: 200px;
	margin-left: 200px;
	max-width: 800px;
	box-sizing: border-box;
}

.login_form_groep {
	margin-bottom: 1rem;
}

.login_form_input {
	width: 80%;
	
}

.form-control {
	width: 100%;
	padding: 0.375rem 0.75rem;
	border: 1px solid #ccd4da;
	border-radius: 0.25rem;
	
}

.form-alert {
	padding: 0.75rem 1.25rem;
	margin: 1rem 0rem 1rem 0rem;
	border: 1px solid transparant;
	border-radius: 0.25rem;
}

.form-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.form-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

.knop:not(:disabled):not(.disaled) {
	cursor: pointer;
}

.knop {
	padding: 0.375rem 0.75rem;
}

.knop-groen {
	color: #000;
	background-color: green;
	border-color: green;
}

.KasboekTotalen {
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin: 5px;
	padding: 1px 5px;
}
/* ---------------- END LOGIN ---------------- */

.leden_tabel {
	display: flex;
}

.leden_tabel_gegevens {
	flex: 1 1 50%;
}

.leden_tabel_lidgeld {
	flex: 1 1 50%;
}

.menu_lijst {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 0px;
}

.sub_menu_lijst {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 0px;
	margin: 0rem 0rem 0rem 0rem;
}

.menu_lijst_item {
	padding: 0rem 0rem 0rem 0rem;
	border-color: #fff;
	border: 1px solid rgba(0,0,0,0.125);
	margin-bottom: -1px;
}

.menu_lijst_item_tekst {
	padding: 1rem 1rem 1rem 1rem;
	line-height: 3rem;
}

.sub_menu_lijst_item {
	padding: .75rem 3rem;
	border-color: #fff;
	border: 1px solid rgba(0,0,0,0.125);
	margin-bottom: -1px;
	color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
}

.menu_lijst_item:hover {
	cursor: pointer;
	font-weight: bold;
	color: #FF0000;
}

.sub_menu_lijst_item:hover {
	cursor: pointer;
	font-weight: bold;
	color: #FF0000;
}

.menu_lijst_item.active {
	padding: 0rem 0rem 0rem 0rem;
	z-index: 2;
	color: #FFFFFF;
	background-color: green;
	border-bottom-color: green
}

.sub_menu_lijst_item.active {
	z-index: 2;
	color: #FFFFFF;
	background-color: green;
	border-bottom-color: green
}

.menu_lijst_item.active:hover {
	z-index: 2;
	color: #FFFFFF;
	font-weight: normal;
	background-color: green;
	border-bottom-color: green
}

.sub_menu_lijst_item.active:hover {
	z-index: 2;
	color: #FF0000;
	font-weight: bold;
	background-color: green;
	border-bottom-color: green
}

/* ---------------- START TABEL ---------------- */

.tabel_col_2 {
	max-width: 16vw;
}


/* ---------------- END TABEL ------------------ */

/* ---------------- START FORM & BUTTON ---------------- */

.btn {
	min-width: 100px;
	padding: 5px 10px;
	margin: 1px 2px 1px 0px;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.95);
}

.btn:hover, .btn:focus {
	text-decoration: none;
	cursor: pointer;
}

.btn-white {
	background-color: rgba(0, 0, 0, 0.05);
	border: 0.1rem solid #ffffff;
	color: #111111;
}

.btn-white:hover, .btn-white:hover {
	background-color: rgba(0, 0, 0, 0.05);
	border: 0.1rem solid #ffffff;
	color: #111111;
}

.btn-primary {
	background-color: #007bff;
	border: 0.1rem solid #007bff;
}

.btn-primary:hover {
	background-color: #009bff;
	border: 0.1rem solid #009bff;
}

.btn-default {
	color: rgba(0, 0, 0, 0.95);
}

.btn-default:hover {
	color: rgba(0, 0, 0, 0.7);
}

.btn-success {
	background-color: #28a745;
	border: 0.1rem solid #28a745;
}

.btn-success:hover {
	background-color: #38b755;
	border: 0.1rem solid #38b755;
}

.btn-danger {
	background-color: #dc3545;
	border: 0.1rem solid #dc3545;
}

.btn-danger:hover {
	background-color: #ec4555;
	border: 0.1rem solid #ec4555;
}

.form-control, .form-label {
	margin: 5px 0px 5px 0px;	
}

/* ---------------- END TABEL ------------------ */


h1 {color: green}
p {color: #000000}
tr.kop {color: #0000FF}
th.kop:hover {color: #0000FF}
tr.kop:first-child {background: #FFFF00}

table.test {
	width: 100%;
	border-spacing: 0px;
}
	
table.lidgeld {
	width: 50%;
	border-spacing: 0px;
}

tr.test:nth-child(even) {background: #DDDDDD}
tr.test:nth-child(odd) {background: #FFFFFF}
tr.test:hover {cursor: pointer; background: #888888; color: #FFFFFF}

li.namenlijst:hover{ cursor: pointer; font-weight: bold; color: #FF0000; }
span.namenlijst:hover{ cursor: pointer; font-weight: bold; color: #FF0000; }
a.kasboeklijst:hover{ cursor: pointer; font-weight: bold; color: #FF0000; }
a.kasboeklijst{ color: #000000; }
td {
	padding: 0 10px;
}
th {
	padding: 0 10px;
}
td.lidgeld:hover{ cursor: auto; }

tr.active {background: #000000; color: #FF0000; font-weight: bold;}

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right;	}

.col-1 {
	width: 10%;
}

.col-2 {
	width: 20%;
}

.col-3 {
	width: 30%;
}

.col-4 {
	width: 40%;
}

.col-5 {
	width: 50%;
}

.col-6 {
	width: 60%;
}

.col-7 {
	width: 70%;
}

.col-8 {
	width: 80%;
}

.col-9 {
	width: 90%;
}

.col-10 {
	width: 100%;
}

.form-group {
	margin-bottom: 1rem;
}

label {
	display:inline-block;
	margin-bottom: 0.5rem;
}

.table {
	border-spacing: 0px;
}

.table td, .table th {
	padding: 0.75rem;
	border-top: 1px solid rgba(0, 0, 0, 0.3);	
}

.tabel_col_1 {
	width: 10vw;
}

.tabel_col_2 {
	width: 20vw;
}

.tabel_col_3 {
	width: 30vw;
}

.tabel_col_4 {
	width: 40vw;
}

.tabel_col_5 {
	width: 50vw;
}

.tabel_col_6 {
	width: 60vw;
}

/* -- Media Querys -- */

@media screen and (max-width: 800px) {
	html {
		font-size: 6px;
	}
	
	h1 {
		font-size: 10px;
	}
	
	a {
		font-size: 6px;
	}
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    html {
		font-size: 8px;
	}
	
	h1 {
		font-size: 12px;
	}
	
	a {
		font-size: 8px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    html {
		font-size: 10px;
	}
	
	h1 {
		font-size: 14px;
	}
	
	a {
		font-size: 10px;
	}
}
